/* Standard stylesheet for RetroShare */

/* Standard rules */

QFrame#titleBarFrame, QFrame#toolBarFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FEFEFE, stop:1 #E8E8E8);
	border: 1px solid #CCCCCC;
}

/* HeaderFrame */

HeaderFrame > QFrame#frame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 0px;
}

HeaderFrame > QFrame#frame > QLabel#headerLabel {
	color: rgb(255, 255, 255);
}

/* GenCertDialog */

GenCertDialog QLabel#genprofileinfo_label, QLabel#header_label, QLabel#entropy_label
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

GenCertDialog QLabel#label_hiddenaddr2 {
	border: 1px solid #50FF5B;
	border-radius: 6px;
	background: #CCFFCC;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #CCFFCC, stop:1 #AAFFAA);
}
GenCertDialog QLabel#no_node_label, GenCertDialog QLabel#no_gpg_key_label {
	border: 1px solid #FFC550;
	border-radius: 6px;
	background: #FFEECC;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFEECC, stop:1 #FFE3AB);
	padding: 4px;
	font-size: 14px;
}

GenCertDialog > QFrame#headerFrame > QLabel#headerLabel {
	color: rgb(255, 255, 255);
}

GenCertDialog > QFrame#frame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FEFEFE, stop:1 #E8E8E8);
	border: 1px solid #CCCCCC;
}

GenCertDialog QPushButton#genButton { 
	border-image: url(:/images/btn_blue.png) 4;
	border-width: 4;
	padding: 0px 6px;
	font-size: 14px;
	font: bold;
	color: white;
}

GenCertDialog QPushButton#genButton:hover {
	border-image: url(:/images/btn_blue_hover.png) 4;
}

/* ConnectFriendWizard */

ConnectFriendWizard {
/* QWizard cannot be resized horizontal when banner pixmap is set
	qproperty-bannerPixmap: url(:/images/connect/connectFriendBanner1.png);*/
	qproperty-titleFontSize: 16;
	qproperty-titleFontWeight: 500;
/*	qproperty-titleColor: white; */
}

/* FriendsDialog */

FriendsDialog QFrame#headFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 1px;
	border-radius: 4px;
}

FriendsDialog QFrame#headFrame > QLabel#nicknameLabel {
	color: rgb(255, 255, 255);
}

FriendsDialog QTextEdit#msgText, FriendsDialog QTextEdit#lineEdit {
	border: 1px solid #CCCCCC;
}

/* Channels */

ChannelFeed QFrame#headFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F2F2F2, stop:1 #E6E6E6);
	border: 1px solid #CCCCCC;
}

ChannelFeed QLabel#logoLabel, EditChanDetails QLabel#logoLabel, CreateChannel QLabel#logoLabel {
	border: 2px solid white;
}

CreateChannelMsg QFrame#fileFrame {
	border: 2px solid black;
	background: white;
}



/* Forums */

ForumsDialog QLabel#forumName, ForumsDialog QLabel#threadTitle
{
	border: 2px solid #CCCCCC;
	border-radius:6px;
	background: white;
}

ForumsDialog2 QLabel#forumName, ForumsDialog2 QLabel#threadTitle
{
	border: 2px solid #CCCCCC;
	border-radius:6px;
	background: white;
}

CreateForumMsg > QToolBar#toolBar, CreateForumV2Msg > QToolBar#toolBar {
	background-image: url(:/images/headerFrame.png);
}

/* MessengerWindow */

MessengerWindow QFrame#logoFrame { 
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FEFEFE, stop:1 #E8E8E8);
	border: 1px solid #CCCCCC;
}

MessengerWindow QFrame#messengerframetop{	
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 0px;
}

/* Create Distant Chat Invite */

CreateMsgLinkDialog QLabel#distantchatinfo_label
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* Chat lobby */

ChatLobbyWidget QLabel#lobbyinfo_label
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

ChatLobbyWidget QGroupBox#lobbyinfo_groupBox
{ 

	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
	stop:0 #FEFEFE, stop:1 #E8E8E8);
	border-radius: 6px;
	border: 1px solid #CCCCCC;

	padding: 14 6px;
	font-size: 12px;
	font-weight: bold;

}

ChatLobbyWidget QGroupBox::title#lobbyinfo_groupBox 
{
  padding: 4 12px;
	background: transparent; 
}

ChatLobbyWidget QLabel#lobbyInfoLabel {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}


ChatLobbyDialog QFrame#participantsFrame {
	border: transparent;
}

ChatLobbyDialog QListWidget#participantsList {
	border: 1px solid #B8B6B1;
	border-radius: 6px;
	background: white;
}

CreateLobbyDialog QFrame#lobbyFrame {
	border: 2px solid #CCCCCC;
	border-radius:6px;
	background: white;
}

CreateLobbyDialog QLabel#lobbyInfoLabel {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

ChatWidget QTextEdit#chatTextEdit, ChatWidget QTextBrowser#textBrowser {
	border: 1px solid #B8B6B1;
	border-radius: 6px;
	background: white;
}

ChatWidget QFrame#infoFrame {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

ChatWidget QPushButton#sendButton {
	border-image: url(:/images/btn_green.png) 4;
	border-width: 4;
	padding: 0px 6px;
	font-size: 14px;
	font: bold;
	color: white;
}

ChatWidget QPushButton#sendButton:hover {
	border-image: url(:/images/btn_green_hover.png) 4;
}

ChatWidget QPushButton#sendButton:pressed {
	border-image: url(:/images/btn_green_pressed.png) 4;
}

ChatWidget QPushButton#sendButton:disabled {
	border-image: url(:/images/btn_red.png) 4;
}

PopupChatWindow QToolBar#chattoolBar{
  background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 0px;
}

/* Messages */

MessageComposer QToolBar#toolBar  {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 0px;
}

MessagesDialog QFrame#folderFrame, MessagesDialog QFrame#quickViewFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FEFEFE, stop:1 #E8E8E8);
	border: 1px solid #CCCCCC;
}

/* Profile */

ProfileWidget QFrame#frame_1, ProfileWidget QFrame#frame_2, ProfileWidget QFrame#frame_3 {
	background-color: white;
	border: 2px solid #CCCCCC;
}

/* Settings */

PluginItem > QFrame#frame {
	border: 2px solid #A8B8D1; 
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FCFDFE, stop: 1 #E2E8EF);
	border-radius: 0px
}

/* Network */

/*NetworkView > QGraphWidget#graphicsView
{
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 lightgray, stop:1 darkgray);
}
*/

/* SearchDialog */

SearchDialog QFrame#searchLineFrame[valid=false] {
	border: 2px solid #079E00;
	background-color: #DBDBDB;
}

SearchDialog QFrame#searchLineFrame[valid=true] {
	border: 2px solid #079E00;
	background-color: white;
}

SearchDialog QPushButton#pushButtonSearch { 
	border-image: url(:/images/btn1.png) 4;
	border-width: 4;
	padding: 0px 6px;
	font-size: 12px;
	color: black;
}

SearchDialog QPushButton#pushButtonSearch:hover {
	border-image: url(:/images/btn2.png) 4;
}

SearchDialog QPushButton#pushButtonSearch:pressed {
	border-image: url(:/images/btn3.png) 4;
}

SearchDialog QFrame#searchLineFrame > QLineEdit {
	background: transparent;
	border: none;
}

/* GetStartedDialog */

GetStartedDialog QTextEdit {
	border: 1px solid #B8B6B1;
	border-radius: 6px;
	background: white;
}

/* GenCertDialog */

GenCertDialog > QFrame#headerFrame {
	background-image: url(:/images/genbackground.png);
}

GenCertDialog > QFrame#headerFrame > QLabel#headerLabel {
	color: rgb(255, 255, 255);
}

/* ConnectFriendWizard */

ConnectFriendWizard QWizardPage#ConclusionPage > QGroupBox#peerDetailsFrame {
	border: 2px solid #CCCCCC;
	border-radius:6px;
	background: white;
	padding: 12 12px;
}

ConnectFriendWizard QWizardPage#ConclusionPage > QLabel#makefriend_infolabel
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

ConnectFriendWizard QLabel#fr_label, QLabel#requestinfolabel
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* Toaster */

ChatToaster > QFrame#windowFrame,
ChatLobbyToaster > QFrame#windowFrame,
DownloadToaster > QFrame#windowFrame,
FriendRequestToaster > QFrame#windowFrame,
GroupChatToaster > QFrame#windowFrame,
MessageToaster >QFrame#windowFrame,
OnlineToaster > QFrame#windowFrame {
	background-image: url(:/images/toaster/backgroundtoaster.png);
}

/* Feeds */

AttachFileItem > QFrame#frame {
	border: 2px solid black;
	background: white;
}

ChanNewItem > QFrame#frame {
	border: 2px solid #D3D3D3;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:1 #F2F2F2);
	border-radius: 10px;
}

ChanNewItem QLabel#logoLabel {
	border: 2px solid #D3D3D3;
	border-radius: 2px;
}

GxsChannelPostItem > QFrame#frame[new=false] {
	border: 3px solid #D3D3D3;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:1 #F2F2F2);
	border-radius: 10px;
}

GxsChannelPostItem > QFrame#frame[new=true] {
	border: 3px solid #82B9F4;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F0F8FD, stop:0.8 #E6F2FD, stop: 0.81 #E6F2FD, stop: 1 #D2E7FD);
	border-radius: 10px;
}

GxsChannelPostItem QLabel#newLabel {
	border: 1px solid #167BE7;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2291E0, stop: 1 #3EB3FF);
	border-radius: 3px;
}

GxsChannelPostItem QFrame#msgFrame {
	border: 2px solid #238;
	border-radius: 10px;
}

GxsChannelPostItem QLabel#logoLabel {
	border: 2px solid #D3D3D3;
}

GxsChannelPostItem QLabel#logoLabel {
  background-color: black;
}

ChatMsgItem > QFrame#frame {
	border: 2px solid black;
	background-color: #FEF6DE;
	border-radius: 10px;
}

ChatMsgItem QWidget#avatar {
	border: 2px solid black;
}

ChatMsgItem QLabel#peerNameLabel {
	color: #990033;
}

ForumNewItem > QFrame#frame, ForumMsgItem > QFrame#frame {
	border: 2px solid #CCCCCC;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEEEEE, stop: 1 #CCCCCC);
	border-radius: 10px;
}

ForumNewItem > QLabel#nextNameLabel, ForumMsgItem > QLabel#nameLabel {
	color: rgb(59, 89, 152);
}

ForumMsgItem QLabel#iconLabel {
	border: 2px solid #CCCCCC;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEEEEE, stop: 1 #CCCCCC);
	border-radius: 10px
}

ForumMsgItem QFrame#prevFrame {
	border: 2px solid black;
	border-radius: 10px;
}

PeerItem > QFrame#frame {
	border: 2px solid green;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #BDDF7D, stop: 1 #649C35);
	border-radius: 10px;
}

PeerItem QWidget#avatar {
	border: 2px solid green;
	background-color: #BDDF7D;
}

PeerItem QLabel#peerNameLabel {
	color: #990033
}

MsgItem > QFrame#frame {
	border: 2px solid #3EA2FF; 
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2291E0, stop: 1 #3EB3FF);
	border-radius: 10px;
}

MsgItem QWidget#avatar {
	background-color: #2291E0;
}

SecurityItem > QFrame#frame {
	border: 2px solid #FF9412; 
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FFE8A4, stop: 1 #FFB252);
	border-radius: 10px;
}

SecurityItem QLabel#peerNameLabel, SecurityItem QLabel#requestLabel {
	color: black;
}

SecurityIpItem > QFrame#frame {
	border: 2px solid #FF9412; 
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FFE8A4, stop: 1 #FFB252);
	border-radius: 10px;
}

SubFileItem > QFrame#frame {
	border: 2px solid #238;
	background: white;
	border-radius: 10px;
}

SubFileItem QProgressBar#progressBar {
	border: 1px solid black;
	text-align: center;
	color: white;
	padding: 1px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fff, stop: 0.4999 #eee, stop: 0.5 #ddd, stop: 1 #eee);
	min-width: 15px;
}

SubFileItem QProgressBar#progressBar::chunk {
	background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #78d, stop: 0.4999 #46a, stop: 0.5 #45a, stop: 1 #238);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px solid black;
	min-width: 15px;
}

PluginItem QLabel#infoLabel {

	color: #054A02;
	font: bold;

}

ConfCertDialog QPlainTextEdit#plainTextEdit {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

ServerPage QPlainTextEdit#plainTextEdit {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* ProfileManager */

ProfileManager > QFrame#headerFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 1px solid #CCCCCC;
}

ProfileManager QTextEdit#textEdit
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* RSImageBlockWidget */

RSImageBlockWidget QFrame#infoFrame {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* ShareManager */

ShareManager QLabel#labelInstructions {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

/* MessageWidget */

MessageWidget QFrame#decryptFrame {
	border: 1px solid #50FF5B;
	border-radius: 6px;
	background: #CCFFCC;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #CCFFCC, stop:1 #AAFFAA);
}

/* Posted Links */

PostedCreatePostDialog QLabel#info_label {
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

PostedItem QFrame#frame {
  border: 2px solid #CCCCCC;
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #EEEEEE, stop: 1 #CCCCCC);
  border-radius: 10px
}

PostedItem QLabel#notes {
  border: 2px solid #CCCCCC;
  border-radius: 10px
}

QLabel#sharekeyinfo_label{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

QLabel#subscribersLabel{
  border: 1px solid #CCCCCC;
  border-radius: 6px;

}

QFrame#distantFrame{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

QLabel#avatarLabel{
 border: 2px solid #CCCCCC; 
 border-radius: 4px;
}

IdDialog QFrame#headerFrame {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 1px;
	border-radius: 4px;
}

IdDialog QFrame#headerFrame_2 {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #9BDBF9, stop:1 #1592CD);
	border: 1px;
	border-radius: 4px;
}

IdDialog QLabel#headerTextLabel {
	color: rgb(255, 255, 255);
}

IdDialog QLabel#headerTextLabel_Circles {
	color: rgb(255, 255, 255);
}

IdDialog QLabel#avlabel {
  border: 4px solid white; 
  border-radius: 10px;
}

GxsChannelPostsWidget QFrame#infoFrame
{ 
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

IdEditDialog QLabel#info_label
{
	border: 1px solid #DCDC41;
	border-radius: 6px;
	background: #FFFFD7;
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFD7, stop:1 #FFFFB2);
}

